﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientDetailsViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName() + "'s tidslinje";
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Kort beskrivelse omkring @Model.Patient.Firstname</h3>
    </div>
    <div class="panel-body">
        @if (Model.Patient.Description != null)
        {
            <p>
                @Model.Patient.Description.Text
            </p>
            <p class="text-info">- Sidst opdateret d. @Model.Patient.Description.TimeCreated.ToLongDateString(), <a href="@Url.Action("Index", "PatientDescription", new { PatientId = Model.Patient.Id, OrganizationId = Model.Organization.Id, Area = "Administration"})">Opdater beskrivelse</a></p>
        }
        else
        {
            <p>
                Der er ikke skrevet nogle beskrivelse..<br />
                Skriv en beskrivelse så man hurtigt kan læse hvem @Model.Patient.Firstname er.<br />
                <a href="@Url.Action("Index", "PatientDescription", new { PatientId = Model.Patient.Id, OrganizationId = Model.Organization.Id, Area = "Administration"})">Skriv beskrivelse</a>
            </p>
        }
    </div>
</div>

@if (Model.Posts.Any())
{
    <ul class="media-list">
        @foreach (var post in Model.Posts)
        {
            <li class="media">
                <a class="pull-left" href="@Url.Action("Edit", "Employee", new { organizationId = Model.Organization.Id, id = post.Employee.Id, Area = "Administration" })">
                    <img class="media-object" src="http://placehold.it/64/64" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="@Url.Action("Edit", "Employee", new { organizationId = Model.Organization.Id, id = post.Employee.Id, Area = "Administration" })">
                            @post.Employee.Firstname @post.Employee.Lastname
                        </a> skrev en log
                    </h4>
                    <p>@post.PatientPost.Description</p>
                    <div>
                        Omhandler:
                        @foreach (var patient in post.Patients)
                        {
                            <a href="@Url.Action("Edit", "Patient", new { organizationId = Model.Organization.Id, id = patient.Id, Area = "Administration" })">@patient.Firstname @patient.Lastname</a>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Der er ikke skrevet noget posts endnu</p>
}