﻿@model DailyReport.Domain.Models.Core.Employee

<div class="checkbox">
    <label>
        <input type="checkbox" value="@Model.Id" name="@Html.NameFor(x=> x.Id)" /> @Model.GetDisplayName()
    </label>
</div>
