﻿@model DailyReport.Presentation.Web.Models.OrganizationDashboardViewModel

<div class="row">
    <div class="col-md-4">
        @if (Model.UpcomingMedicationSchedules.Any())
        {
            <div class="list-group">
                @foreach (var medicationSchedule in Model.UpcomingMedicationSchedules)
                {
                    var nextSchedule = medicationSchedule.Schedules.OrderBy(x => x.ExecuteTime).First();
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <span class="text-bold pull-right">kl. @nextSchedule.ExecuteTime.Hours:@nextSchedule.ExecuteTime.Minutes</span>
                            <a href="@Url.GetPatientUrl(medicationSchedule.Patient.Id)">
                                @medicationSchedule.Patient.GetDisplayName()
                            </a>
                        </h4>
                        <div class="list-group-item-text">
                            <ul>
                                @foreach (var schedule in medicationSchedule.Schedules)
                                {
                                    <li>@schedule.Amouth af @schedule.Medication.Weight @schedule.Medication.Measure @schedule.Medication.Type @schedule.Medication.Name (@schedule.Medication.Brand.Name)</li>
                                }
                            </ul>
                            <a href="#" class="btn btn-default btn-sm">Udlevér medicin</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <div class="col-md-8">
        @if (Model.Posts.Any())
        {
            <ul class="media-list">
                @foreach (var post in Model.Posts)
                {
                    <li class="media">
                        <a class="pull-left" href="@Url.GetEmployeeUrl(post.Employee.Id)">
                            <img class="media-object" src="http://placehold.it/64/64" alt="...">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="@Url.GetEmployeeUrl(post.Employee.Id)">
                                    @post.Employee.GetDisplayName()
                                </a>
                            </h4>
                            <p>@post.PatientPost.Description</p>
                            <div>
                                Omhandler:
                                @foreach (var patient in post.Patients)
                                {
                                    <a href="@Url.GetPatientUrl(patient.Id)">@patient.GetDisplayName()</a>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Der er ikke skrevet noget posts endnu</p>
        }
    </div>
</div>
