﻿@model DailyReport.Presentation.Web.Areas.ProfileModule.Models.ContactInformationPartialViewModel

@if (Model.ContactInformations.Any())
{
    <dl>
        @foreach (var contactInformation in Model.ContactInformations)
        {
            <dt>
                @contactInformation.Type
                @if (!Model.DisableEditing) { 
                    <div class="pull-right">
                        <a href="@Url.GetMyContactInformationEditUrl(contactInformation.Id)"><span aria-hidden="true" class="glyphicon glyphicon-edit"></span></a>
                        <a href="@Url.GetMyContactInformationEditUrl(contactInformation.Id)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                    </div>
                }
            </dt>
            <dd>@contactInformation.Data</dd>
        }
    </dl>
}
else if (Model.EnableText)
{
    <p class="text-muted text-center">
        Patienten har ikke tilknytten nogen kontaktinformationer
    </p>
}
