﻿@model DailyReport.Presentation.Web.Areas.ProfileModule.Models.ContactInformationViewModel

<div class="form-group">
    <label class="control-label col-md-2">Type</label>
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ContactInformationTypeId, Model.ContactInformationTypeList, new { @class = "default-select2" })
        @Html.ValidationMessageFor(model => model.ContactInformationTypeId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2">Værdi</label>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
    </div>
</div>