﻿@model DailyReport.Presentation.Web.Areas.ProfileModule.Models.ContactInformationViewModel

<h1 class="page-header">Kontaktinformationer</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            Tilføj en kontaktinformation så det er muligt for dine kollegaer at komme i kontakt med dig.
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @{
                    Html.RenderPartial("ContactInformationForm", Model);
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Tilføj" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @{
            Html.RenderAction("ContactInformations", "ContactInformation");
        }
    </div>
</div>