$border-color: #eee; 
$border-size: 6px;

.timeline {
    section {
          
      h1 {
        border-bottom:$border-size solid $border-color;
        border-left:$border-size solid $border-color;
        font-weight:700;
        text-align:right;
        font-size:24px;
        line-height:50px;
        color:#dd4b39;
        padding-right:12px;
        margin:0;
        display:block;
    }
    
    .content{
      padding-top:16px;
      border-left:$border-size solid $border-color;
    }
    
    .entry{
      &:before{
        width:30px;
        height:3px;
        background: $border-color;
        display:block;
        content:'';
      }
      
      .history {
        margin-left:40px;
        margin-top:-9px;
        padding-bottom:20px;        
      }
      
      .time{
        color:#666;
        font-size:10px;
      }
    }
  }


  .timeline-post{
    border-radius:3px;
    border:1px solid;
    border-color:#e5e6e9 #dfe0e4 #d0d1d5;

    .profile-title {
      padding:12px;
      background:#F1F1F1;

      .profile-title__pic {
        width:50px;
        height:50px;
        border-radius:25px;
        float:left;
      }

      .profile-title__icon {
        width:50px;
        height:50px;
        float:left;
      }

      .profile-title__content {
        overflow:hidden;
        padding-top:4px;
        padding-left:12px;
      }

      .profile-title__header {
        display:inline-block;
        font-size:18px;
        font-weight: bold;
      }

      .time {
        font-size:14px;
      }
    }

    .post-content {
      padding:12px;
      white-space:pre-line; 
      word-break: break-word;
    }

    .post-table{
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) { 
  .timeline {
    section {
      display: flex;
      min-height:100px;
            
      .title {
        flex: 0 0 200px;
        order: -1;
      }
      
      h1 {        
        border-left:0;
      }
      
      .content {
        padding-top:80px;
        flex: 1;
        order: -1;
      }
    }
  }
}

