.typeahead {
    position: relative;
    
    .typeahead-selector{
        position: absolute;
        width: 100%;
        max-height:200px;
        overflow: auto;
        background: #FFF;
        z-index: 50;
    
        li.list-group-item > a {
            padding-left:0;
            padding-right:0;
        }
        
        li.list-group-item:hover,
        li.list-group-item.active{
            background-color: #eee;
        }
        
        li.list-group-item:hover {
            font-weight: bold;
            color: #dd4b39;
            border-color: #e5e5e5;
            border-left: 4px solid #428bca;
            border-left-color: #428bca;
        }
    }
}