﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.PatientIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.Action("Create", "Patient", new { Area = "Administration", OrganizationId = Model.Organization.Id })" class="btn btn-success pull-right btn-lg">Tilføj patient</a>
    <h1>Patienter</h1>
</div>

@if (Model.Patients.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Fødselsdag</th>
                <th>Oprettet</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.Firstname @patient.Lastname</td>
                <td>@patient.BirthDate.ToShortDateString()</td>
                <td>@patient.TimeCreated.ToShortDateString()</td>
                <td>
                    <a href="@Url.GetPatientUrl(patient.Id)" class="btn btn-default">Detaljer</a>
                    <a href="@Url.Action("Delete", "Patient", new { Id = patient.Id, Area = "Administration" })" class="btn btn-danger">Fjern</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-center text-muted">
        @Model.Organization.Name har ingen tilknyttede patienter. <br />
        <a href="@Url.Action("Create", "Patient", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Tilføj en ny patient</a>
    </p>
}