﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.PatientPostCreatedViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<h1 class="page-header">Loggen er blevet gemt</h1>

<p>
    Logget er blevet gemt, og det er muligt at se loggen.
</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
