﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.PatientPostIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<h1 class="page-header">
    <a href="@Url.Action("Create", "Post", new { Area = "Administration", OrganizationId = Model.Organization.Id })" class="btn btn-success pull-right btn-lg">Skriv en log</a>
    Logbeskeder
</h1>

@if (Model.Posts.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Skrevet af</th>
                <th>Oprettet</th>
                <th>Patienter</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Employee.Firstname @post.Employee.Lastname</td>
                <td>@post.PatientPost.TimeCreated.ToShortDateString()</td>
                <td>
                    @if (post.Patients.Any())
                    {
                        foreach (var patient in post.Patients)
                        {
                            <a href="@Url.Action("Edit", "Patient", new {organizationId = Model.Organization.Id, id = patient.Id, Area = "Administration"})">@patient.Firstname @patient.Lastname</a>
                        }
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Post", new { Id = post.PatientPost.Id, Area = "Administration" })" class="btn btn-default">Rediger</a>
                    <a href="@Url.Action("Delete", "Post", new { Id = post.PatientPost.Id, Area = "Administration" })" class="btn btn-danger">Fjern</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-center text-muted">
        @Model.Organization.Name har ingen logbeskeder skrevet, det er vigtigt at skrive logbeskeder så man kan danne sig et overblik over patienterne. <br />
        <a href="@Url.Action("Create", "Post", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Skriv en log besked</a>
    </p>
}