﻿@model DailyReport.Presentation.Web.Areas.ProfileModule.Models.PatientsIndexViewModel

<h1 class="page-header">Mine patienter</h1>
<p>
    Her kan du se de patienter du er tilknyttet til som kontaktperson. For at se alle patienter i den organisation du arbejder i, så kan du gå til Organisation -> Patienter
</p>

@if (Model.Patients.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Kontaktperson siden</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>
                    <a href="@Url.GetPatientUrl(patient.Id)">@patient.GetDisplayName()</a>
                </td>
                <td>@patient.TimeCreated.ToShortDateString()</td>
                <td class="text-right">
                    <a href="@Url.Action("Delete", "Patient", new { Id = patient.Id, Area = "Administration" })" class="btn btn-danger">Afslut periode</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-center text-muted">
        Du er ikke tilknyttet som kontaktperson til nogen patienter. <br />
    </p>
}