﻿@using DailyReport.Presentation.Web.Helpers
@{
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-header">Ansat</li>
            <li class="list-group-item"><a href="@Url.GetOrganizationSettingsEditUrl()">Oplysninger</a></li>
            <li class="list-group-item"><a href="@Url.GetOrganizationSettingsEditUrl()">Kontaktoplysninger</a></li>
            <li class="list-group-item"><a href="@Url.GetOrganizationSettingsEditUrl()">Logbøger</a></li>
            <li class="list-group-item"><a href="@Url.GetOrganizationSettingsEditUrl()">Patienter</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>
