﻿@model DailyReport.Presentation.Web.Areas.OrganizationModule.Models.EmployeeConfirmDeleteViewModel


<h1 class="page-header">Er du sikker på at du vil fjerne brugeren?</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Fjern @Model.Firstname" />
}
