﻿@model DailyReport.Presentation.Web.Areas.OrganizationModule.Models.EmployeeEditViewModel
@{
    Layout = "~/Areas/OrganizationModule/Views/Employee/_EmployeeLayout.cshtml";
}

<h1 class="page-header">@Model.Employee.GetDisplayName()</h1>

<dl>
    <dt>Navn</dt>
    <dd>@Model.Employee.GetDisplayName()</dd>
    <dt>Sidst logget ind</dt>
    <dd>
        @if (Model.Employee.LastAuthenticationDateTime.HasValue)
        {
            <span>@Model.Employee.LastAuthenticationDateTime.Value.ToLongDateString()</span>
        }
        else
        {
            <span class="text-muted">Ikke logget ind før</span>   
        }
    </dd>
</dl>