﻿@model DailyReport.Presentation.Web.Areas.OrganizationModule.Models.EmployeeIndexViewModel

@{
    Layout = "~/Areas/OrganizationModule/Views/Shared/_SettingsLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.GetEmployeeCreateUrl()" class="btn btn-success pull-right btn-lg">Tilføj ny ansat</a>
    <h1>Ansatte</h1>
</div>

@if (Model.Employees.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Email</th>
                <th>Oprettet</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.GetDisplayName()</td>
                <td>@employee.Email</td>
                <td>@employee.TimeCreated.ToShortDateString()</td>
                <td>
                    <a href="@Url.GetEmployeeEditUrl(employee.Id)" class="btn btn-default">Rediger</a>
                    <a href="@Url.GetEmployeeDeleteUrl(employee.Id)" class="btn btn-danger">Fjern</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-center text-muted">
        Der er ingen ansatte registeret . <br />
        <a href="@Url.GetEmployeeCreateUrl()">Tilføj en ny ansat</a>
    </p>
}