﻿@model DailyReport.Domain.Models.Core.Employee

@{
    Layout = "~/Areas/OrganizationModule/Views/Shared/_SettingsLayout.cshtml";
}

<h1 class="page-header">Den ansatte er blevet gemt</h1>

<p>
    Den ansatte @Model.GetDisplayName() er blevet oprettet, og der er blevet sendt en mail ud til @Model.Email, hvor den ansatte kan oprette et login og derved få adgang til dagsrapporten.
</p>

<p>
    <a href="@Url.GetEmployeeCreateUrl()">Tilføj en ny ansat</a>
</p>
