﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Dagsrapporten", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicin <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Index", "Medication", new { Area = string.Empty })">Oversigt</a></li>

                    <li class="divider"></li>
                    <li><a href="@Url.Action("Create", "Medication", new { Area = string.Empty })">Opret medicin</a></li>
                </ul>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>

@RenderBody()

@section scripts{
    @RenderSection("scripts", required: false)
}