﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var account = (ClaimsIdentity)User.Identity;

        <div class="navbar-right">
            <p class="navbar-text">
                Logget ind som: <b>
                    <a href="@Url.GetMyProfileUrl()">
                        @account.FindFirst("Firstname").Value
                        @account.FindFirst("Lastname").Value
                    </a>
                </b>
            </p>
            <ul class="nav navbar-nav">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log ud</a></li>
            </ul>
        </div>
    }
}
else
{
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: new { Area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
