﻿@model DailyReport.Presentation.Web.Models.OrganizationNavigationViewModel
@{
    Layout = string.Empty;
}

<nav class="navbar navbar-toolbar navbar-default navbar-fixed-top navbar-subnavbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="@Url.GetDashboardUrl()">@Model.Organization.Name</a>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patienter <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Index", "Patient", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Oversigt</a></li>
                <li><a href="@Url.Action("Index", "MedicationSchedule", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Medicinskema</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="@Url.GetPatientCreateUrl()">Tilføj ny patient</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logbog <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Index", "Post", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Oversigt</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Create", "Post", new { Area = "Administration", OrganizationId = Model.Organization.Id })">Skriv ny log</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.GetOrganizationSettingsEditUrl()">Indstillinger</a>
        </li>
    </ul>
</nav>