﻿@using DailyReport.Domain.Extensions
@inherits RazorEngine.Templating.TemplateBase<DailyReport.Templating.Models.AddedAsContactPersonModel>

<h1>Hej @Model.Employee.GetDisplayName()</h1>

<p>
    Du er blevet tilføjet som kontaktperson for @Model.Patient.GetDisplayName() på Dagsrapporten.
</p>
<p>
    Hvis dette er en fejl bedes du fjerne dig selv som kontaktperson for @Model.Patient.GetDisplayName(), ved at logge ind på Dagsrapporten -> Min profil -> Kontakperson
</p>
<p>
    Med venlig hilsen<br />
    Dagsrapporten
</p>