﻿@using DailyReport.Domain.Extensions
@inherits RazorEngine.Templating.TemplateBase<DailyReport.Templating.Models.EmployeeCreatedModel>

<h1>Hej @Model.Employee.GetDisplayName()</h1>

<p>
    Du er blevet tilføjet som ansat på Dagsrapporten, og vil nu kunne få adgang til administrations systemet.
</p>
<p>
    For at få adgang skal du fuldføre din registering ved at følge dette link: <a href="@Model.CompleteRegistrationUrl">@Model.CompleteRegistrationUrl</a>
</p>
<p>
    Med venlig hilsen<br />
    Dagsrapporten
</p>