﻿@inherits RazorEngine.Templating.TemplateBase<DailyReport.Templating.Models.ForgotPasswordModel>

<h1>Hej</h1>

<p>
    Der er blevet bedt om at nulstille dit kodeord på dagsrapporten, hvis det ikke er dig der har bedt om dette kan du bare set bort fra denne mail.
</p>
<p>
    For at nulstille skal du følge dette link <a href="@Model.ResetPasswordUrl">@Model.ResetPasswordUrl</a>
</p>
<p>
    Med venlig hilsen<br />
    Dagsrapporten
</p>