﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.MedicationScheduleDetailsViewModel
@using DailyReport.Domain.Extensions

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="page-header">
    <h1>Historik</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Hvem</th>
            <th>Udført</th>
            <th>Skulle udføres</th>
            <th>Diff</th>
        </tr>
    </thead>
    @for (var i = 0; i < Model.Histories.Count(); i++)
    {
        var history = Model.Histories.ElementAt(i);
        var temp2 = Model.MedicationSchedule.StartDate.Date.Add(history.TimeOfDay);
        var temp = TimeSpan.FromTicks(history.RepeatInterval.GetValueOrDefault(0) * (i));
        var actual = temp2.Add(temp);
        var difference = actual - history.TimeCreated;
        
        
        <tr>
            <td><a href="#">@history.Employee.GetDisplayName()</a></td>
            <td>@history.TimeCreated</td>
            <td>@actual</td>
            <td>@difference.Days dage, @difference.Hours timer og @difference.Minutes minutter</td>
        </tr>
    }
</table>
