﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.MedicationScheduleEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

@if (Model.MedicationSchedule.IsCompleted)
{
    <div class="alert alert-warning" role="alert">
        <strong>Vigtigt!</strong> Dette medicin skema er ikke i brug længere, og kan kun ses som et arkiv.
    </div>
}

<div class="page-header">
    <div class="navbar navbar-toolbar pull-right">
        @*<div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="glyphicon glyphicon-cog"></i> Indstillinger <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Acquantances</a></li>
                    <li><a href="#">Following</a></li>
                </ul>
            </div>*@
        <a href="@Url.Action("Complete", "MedicationSchedule", new { Area = "Administration", OrganizationId = Model.Organization.Id, Id = Model.MedicationSchedule.Id })" class="btn btn-danger @if(Model.MedicationSchedule.IsCompleted){<text>disabled</text>}"><i class="glyphicon glyphicon-remove"></i> Afslut medicineringen</a>
    </div>
    <h1>Ret medicin skema</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Detaljer</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Påbegyndt</dt>
                    <dd>@Model.MedicationSchedule.StartDate.ToShortDateString()</dd>
                    <dt>Patient</dt>
                    <dd>
                        <a href="@Url.Action("Edit", "Patient", new { Area = "Administration", OrganizationId = Model.MedicationSchedule.Patient.OrganizationId, Id = Model.MedicationSchedule.Patient.Id })">
                            @Model.MedicationSchedule.Patient.Firstname @Model.MedicationSchedule.Patient.Lastname
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Mærke</th>
                    <th>Mængde</th>
                    <th>Tidspunkt</th>
                    <th>Gentag efter</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var schedule in Model.MedicationSchedule.Schedules)
            {
                <tr>
                    <td>@schedule.Medication.Name</td>
                    <td>@schedule.Medication.Brand.Name</td>
                    <td>@schedule.Amouth af @schedule.Medication.Weight @schedule.Medication.Measure @schedule.Medication.Type</td>
                    <td>kl. @schedule.ExecuteTime.Hours:@schedule.ExecuteTime.Minutes</td>
                    @if (schedule.RepeatTimeSpan.HasValue)
                    {
                        var repeatTimeSpan = TimeSpan.FromTicks(schedule.RepeatTimeSpan.Value);
                        <td>
                            Hver @repeatTimeSpan.Days. dag
                        </td>
                    }
                    else
                    {
                        <td>Skal ikke gentages</td>
                    }
                    <td><a href="@Url.Action("Details", "MedicationSchedule", new { id = Model.MedicationSchedule.Id, organizationId = Model.Organization.Id, medicationScheduleItemId = schedule.Id })">Historik</a></td>
                </tr>
            }
        </table>

    </div>
</div>
