﻿@using DailyReport.Domain.Extensions
@using DailyReport.Domain.Models
@model DailyReport.Presentation.Web.Areas.Administration.Models.MedicationScheduleIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.Action("Create", "MedicationSchedule", new { Area = "Administration", OrganizationId = Model.Organization.Id })" class="btn btn-success pull-right btn-lg">Påbegynd ny medicinering</a>
    <h1>Medicinskemaer</h1>
</div>

@if (Model.MedicationSchedules.Any())
{
    <table class="table">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Medicin
            </th>
            <th>Startdato</th>
            <th></th>
        </tr>

        @foreach (var medicationSchedule in Model.MedicationSchedules)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Patient", new { Area = "Administration", OrganizationId = medicationSchedule.Patient.OrganizationId, Id = medicationSchedule.Patient.Id })">
                        @medicationSchedule.Patient.Firstname @medicationSchedule.Patient.Lastname
                    </a>
                </td>
                <td>
                    @if (medicationSchedule.Schedules.Any())
                    {
                        <table class="table table-condensed table-borderless">
                            @foreach (var schedule in medicationSchedule.Schedules)
                            {
                                var delayedState = schedule.GetDelayedState(medicationSchedule.StartDate);

                                <tr class="@GetDelayedStateCssClass(delayedState)">
                                    <td>
                                        <input type="checkbox" @if (delayedState == DelayedState.Abandoned) { <text> disabled="disabled" </text>    } />
                                    </td>
                                    <td>@schedule.Medication.Name (@schedule.Medication.Brand.Name)</td>
                                    <td>@schedule.Amouth af @schedule.Medication.Weight @schedule.Medication.Measure @schedule.Medication.Type</td>
                                    <td>kl. @schedule.ExecuteTime.Hours:@schedule.ExecuteTime.Minutes</td>
                                    <td>
                                        @using (Html.BeginForm("AddHistoryItem", "MedicationSchedule", new { MedicationScheduleItemId = schedule.Id, Area = "Administration", OrganizationId = Model.Organization.Id }))
                                        {
                                            <input type="submit" value="Giv medicin" class="btn btn-default btn-sm" />
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-muted">Ikke angivet</p>
                    }
                </td>
                <td>
                    @medicationSchedule.StartDate.ToShortDateString()
                </td>
                <td>
                    <a href="@Url.Action("Edit", "MedicationSchedule", new { Area = "Administration", OrganizationId = medicationSchedule.Patient.OrganizationId, id = medicationSchedule.Id})" class="btn btn-default">
                        Detaljer
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p class="text-center text-muted">
        Ingen af @Model.Organization.Name's patienter får medicin.<br />
    </p>
}
@helper GetDelayedStateCssClass(DelayedState state)
{
    switch (state)
    {
        case DelayedState.High:
            <text>danger</text>
            break;
        case DelayedState.Medium:
        <text>warning</text>
            break;
        case DelayedState.Low:
        <text>info</text>
            break;
        case DelayedState.Abandoned:
        <text>text-muted</text>
            break;
    }
}
