﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactbookAddViewModel

@{
    ViewBag.Title = "Contact";

    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<h1 class="page-header">Tilføj ny kontakt</h1>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group">
                    <label class="control-label col-md-2">Fornavn</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Efternavn</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Titel</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        <span class="help-block">Kontaktens titel, eks. mor, far, sagsbehandler, skolelærer.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gruppe</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Groups, new {  @class = "form-control default-tagit" })
                        @Html.ValidationMessageFor(model => model.Groups, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gem" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>