﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactbookContactViewModel

@{
    ViewBag.Title = "Contact";

    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<h1 class="page-header">@Model.Contact.GetDisplayName()</h1>

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Navn:</dt>
            <dd>@Model.Contact.GetDisplayName()</dd>
            @if (Model.Contact.ContactType != null)
            {
                <dt>Titel</dt>
                <dd>@Model.Contact.ContactType.Name</dd>
            }
            @foreach (var contactInformation in Model.ContactInformations)
            {
                <dt>
                    @contactInformation.Type
                </dt>
                <dd>@contactInformation.Data</dd>
            }
        </dl>
    </div>
    <div class="col-md-4">
        <h4>Tilføj kontaktinformation</h4>
        @using (Html.BeginForm("AddContactInformation", "Contactbook", new { PatientId = Model.Patient.Id, Id = Model.Contact.Id }, FormMethod.Post, new { @class = "form-inline" }))
        {
            Html.RenderPartial("_SmallContactInformationForm", Model.ContactInformationForm);
        }

        @if (Model.Contact.Groups.Any())
        {
            <h4>Grupper</h4>
            <ul class="list-unstyled">
                @foreach (var contactGroup in Model.Contact.Groups)
                {
                    <li>
                        <div class="clearfix">
                            @using (Html.BeginForm("RemoveGroup", "Contactbook", new { PatientId = Model.Patient.Id, Id = Model.Contact.Id, GroupName = contactGroup.Name }, FormMethod.Post, new { @class = "pull-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default btn-xs">Fjern</button>
                            }
                            <a href="@Url.GetPatientContactbookGroupUrl(Model.Patient.Id, contactGroup.Id)">@contactGroup.Name</a>
                        </div>
                    </li>
                }
            </ul>

            using (Html.BeginForm("AddGroup", "Contactbook", new { PatientId = Model.Patient.Id, Id = Model.Contact.Id }, FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="groupName" class="form-control" />
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Tilføj</button>
            }
        }
    </div>
</div>