﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactbookGroupViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName() + "'s kontaktbog";
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.GetLookbookUrl(Model.Patient.Id)" class="btn btn-primary pull-right">Tilføj ny kontakt</a>
    <h1>Kontakbog - @Model.Group.Name</h1>
</div>
<div>
    @if (Model.Contacts.Any())
    {
        <ul>
            @foreach (var contact in Model.Contacts)
            {
                var contactType = contact.ContactType != null ? contact.ContactType.Name : "Ikke en nogen";

                <li>
                    <a href="@Url.GetPatientContactbookContactUrl(Model.Patient.Id, contact.Id)">
                        @contact.GetDisplayName()
                    </a> - @contactType
                    @if (contact.Groups.Any())
                    {
                        <ul>
                            @foreach (var contactGroup in contact.Groups)
                            {
                                <li>@contactGroup.Name</li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-muted text-center">Der er ikke tilføjet nogen kontakter i gruppen @Model.Group.Name</p>
    }
</div>
