﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactbookIndexViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName() + "'s kontaktbog";
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.GetPatientContactbookAddUrl(Model.Patient.Id)" class="btn btn-primary pull-right">Tilføj ny kontakt</a>
    <h1>Kontakbog</h1>
</div>
<p>
    Her er en oversigt over hvilket kontakter som registeret til @Model.Patient.Firstname.
</p>

<div>
    @if (Model.Groups.Any())
    {
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Alle cirkler</a></li>
            @foreach (var contactGroup in Model.Groups)
            {
                <li role="presentation"><a href="@Url.GetPatientContactbookGroupUrl(Model.Patient.Id, contactGroup.Id)">@contactGroup.Name <span class="badge">@contactGroup.NumberOfContacts</span></a></li>
            }
        </ul>
    }

    @if (Model.Contacts.Any())
    {
        <ul>
            @foreach (var contact in Model.Contacts)
            {
                var contactType = contact.ContactType != null ? contact.ContactType.Name : "Ikke en nogen";

                <li>
                    <a href="@Url.GetPatientContactbookContactUrl(Model.Patient.Id, contact.Id)">
                        @contact.GetDisplayName()
                    </a> - @contactType
                    @if (contact.Groups.Any())
                    {
                        <ul>
                            @foreach (var contactGroup in contact.Groups)
                            {
                                <li>@contactGroup.Name</li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-muted text-center">Der er ikke tilføjet nogen kontakter</p>
    }
</div>
