﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientLogbookViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName() + "'s logbog";
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<div class="page-header">
    <a href="@Url.GetLookbookUrl(Model.Patient.Id)" class="btn btn-primary pull-right">Skriv ny log</a>
    <h1>Logbog</h1>
</div>
<p>
    Her er de log's hvor @Model.Patient.Firstname er indblandet i.
</p>

<article>
    @if (Model.Posts.Any())
    {
        <ul class="media-list">
            @foreach (var post in Model.Posts)
            {
                <li class="media">
                    <a class="pull-left" href="@Url.Action("Edit", "Employee", new { organizationId = Model.Organization.Id, id = post.Employee.Id, Area = "Administration" })">
                        <img class="media-object" src="http://placehold.it/64/64" alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="@Url.Action("Edit", "Employee", new { organizationId = Model.Organization.Id, id = post.Employee.Id, Area = "Administration" })">
                                @post.Employee.Firstname @post.Employee.Lastname
                            </a> skrev en log
                        </h4>
                        <p>@post.PatientPost.Description</p>
                        <div>
                            Omhandler:
                            @foreach (var patient in post.Patients)
                            {
                                <a href="@Url.Action("Edit", "Patient", new { organizationId = Model.Organization.Id, id = patient.Id, Area = "Administration" })">@patient.Firstname @patient.Lastname</a>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Der er ikke skrevet noget posts endnu</p>
    }
</article>
