﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="page-header">Dagsrapporten</h1>

            <div class="row">
                <div class="col-md-9">
                    @RenderBody()
                </div>
                <div class="col-md-3">
                    <h4>Fordele ved Dagsrapporten</h4>
                    <ul>
                        <li>Høj sikkerhed</li>
                        <li>Medicinering</li>
                        <li>Logbøger</li>
                        <li>Kontaktbøger</li>
                        <li><a href="#">Og meget mere</a></li>
                    </ul>

                    <h4>Brug for hjælp?</h4>
                    <p>
                        Hvis du har brug for hjælp, må du meget gerne kontakt os på mail <a href="#">kontakt@dagsrapporten.dk</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled">
        <li><a href="@Url.Action("Login", "Account", new {Area = string.Empty })">Tilbage til log ind</a></li>
    </ul>
</div>
