﻿@using DailyReport.Presentation.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="page-header">Dagsrapporten</h1>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Log ind med din konto</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label">Brugerid:</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kodeord:</label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log ind" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <ul class="list-unstyled">
                <li><a href="@Url.Action("Register", "Account", new {Area = string.Empty })"><b>Prøv dagsrapporten</b> - opret en prøve konto</a></li>
                <li><a href="#">Problemer med at logget ind?</a></li>
            </ul>
        </div>
    </div>
</div>