﻿@model DailyReport.Domain.Models.Core.Employee

@{
    Layout = "~/Views/Account/_RegisterLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Prøv en gratis konto</h3>
    </div>
    <div class="panel-body">
        <div>
            <p>
                <strong>Den ansatte er blevet tilføjet!</strong>
            </p>
            
        </div>
    </div>
</div>