﻿@model DailyReport.Presentation.Web.Areas.AdministrationModule.Models.MedicationCreateViewModel

@{
    ViewBag.Title = "Create";
}
<div class="body-content">

    <h1 class="page-header">Tilføj medicin</h1>

    <div class="row">
        <div class=" col-md-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Navn</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mærke</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.BrandId, Model.BrandList, new { @class = "default-select2" })
                                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control", placeholder = "Eller indtast her..." } })
                                    @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Form</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MedicationTypeId, Model.MedicationTypeList, new { @class = "default-select2" })
                            @Html.ValidationMessageFor(model => model.MedicationTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mængde</label>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.MeasureId, Model.MeasureList, new { @class = "default-select2" })
                                    @Html.ValidationMessageFor(model => model.MeasureId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tilføj" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
