﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientMedicationSchedulesViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<h1 class="page-header">Medicinering</h1>

<p>
    Her kan du se hvilken medicin som @Model.Patient.Firstname skal have. Når du har udleveret eller givet medicinen til @Model.Patient.Firstname skal du trykke "Giv medicin", så det er registeret. 
    Dette er for at dokumentere at medicinen er blevet udleveret, men det giver os også mulighed for at lave statestikker på @Model.Patient.Firstname helbred.
</p>

@if (Model.MedicationSchedules.Any())
{
    <table class="table">
        <tr>
            <th>
                Medicin
            </th>
            <th>Startdato</th>
            <th></th>
        </tr>

        @foreach (var medicationSchedule in Model.MedicationSchedules)
        {
            <tr>
                <td>
                    @if (medicationSchedule.Schedules.Any())
                    {
                        <table class="table table-condensed table-borderless">
                            @foreach (var schedule in medicationSchedule.Schedules)
                            {
                                <tr>
                                    <td>@schedule.Medication.Name (@schedule.Medication.Brand.Name)</td>
                                    <td>@schedule.Amouth af @schedule.Medication.Weight @schedule.Medication.Measure @schedule.Medication.Type</td>
                                    <td>kl. @schedule.ExecuteTime.Hours:@schedule.ExecuteTime.Minutes</td>
                                    <td>
                                        @using (Html.BeginForm("AddHistoryItem", "MedicationSchedule", new { MedicationScheduleItemId = schedule.Id, Area = "Administration", OrganizationId = Model.Organization.Id }))
                                        {
                                            <input type="submit" value="Giv medicin" class="btn btn-default btn-sm" />
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-muted">Ikke angivet</p>
                    }
                </td>
                <td>
                    @medicationSchedule.StartDate.ToShortDateString()
                </td>
                <td>
                    <a href="@Url.Action("Edit", "MedicationSchedule", new { Area = "Administration", OrganizationId = medicationSchedule.Patient.OrganizationId, id = medicationSchedule.Id})" class="btn btn-default">
                        Detaljer
                    </a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p class="text-center text-muted">
        @Model.Patient.GetDisplayName() har ikke modtaget eller modtager medicin.<br />
    </p>
}