﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.PatientCreateViewModel

@{
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<h1 class="page-header">Tilføj patient</h1>

<nav class="navbar navbar-toolbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Personlige oplysninger</a></li>
        <li><span class="navbar-text">Kontaktoplysninger</span></li>
        <li><span class="navbar-text">Kontaktperson</span></li>
    </ul>
</nav>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-md-8">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="col-md-2 control-label">Fornavn:</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Efternavn:</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Fødseslsdag:</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-md-2 control-label">Sidste 4 cifre i CPR:</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.SocialSecurityNumber, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="help-block"><a href="#">Læs om vores datasikkerhed-politik</a></p>
                        @Html.ValidationMessageFor(model => model.SocialSecurityNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Kort beskrivelse:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Vælg en eller flere kontaktpersoner</label>
                <div class="scrollable" style="max-height: 90px; overflow-y: auto">
                    @Html.EditorFor(x => x.Employees)
                </div>
            </div>
        </div>
    </div>
}
