﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientEditViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}

<h1 class="page-header">Informationer</h1>

<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-4">Fornavn</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Efternavn</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Fødselsdag</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gem ændringer" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-5">
        <section>
            <h3 class="no-top-margin">Kontaktinformationer <a href="@Url.GetPatientContactInformationUrl(Model.Patient.Id)" class="pull-right btn btn-primary btn-xs">Tilføj kontaktinformatio</a></h3>

            @{
                Html.RenderAction("ContactInformations", "ContactInformation", new { PatientId = Model.Patient.Id, DisableEditing = true, EnableText = true });
            }
        </section>

        <section>
            <h3 class="no-top-margin">Kontaktpersoner <a href="@Url.GetPatientContactPersonsUrl(Model.Patient.Id)" class="pull-right btn btn-primary btn-xs">Oversigt</a></h3>
            @if (Model.ContactPersons.Any())
            {
                <ul>
                    @foreach (var contactPerson in Model.ContactPersons)
                    {
                        <li><a href="@Url.GetEmployeeUrl(contactPerson.Employee.Id)">@contactPerson.Employee.GetDisplayName()</a></li>
                    }
                </ul>
            }
            else
            {
                <p class="text-muted text-center">
                    @Model.Patient.Firstname har eller har haft nogen tilknyttede kontaktpersoner<br />
                    <a href="@Url.GetPatientContactPersonsUrl(Model.Patient.Id)">Tilføj kontaktperson</a>
                </p>
            }
        </section>
    </div>
</div>
