﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactInformationEditViewModel

@{
    ViewBag.Title = "ContactInformations";

    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}
<h1 class="page-header">Kontaktinformationer</h1>

<div class="row">
    <div class="col-md-8">
        <p>Lav ændringer til informationen. Du burde kun gøre dette hvis der har været en tastefejl - hvis patienten har fået nyt nummer f.eks. så skal du slette denne information og oprette en ny.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @{
            Html.RenderPartial("ContactInformationForm", Model);
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gem ændringer" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <h3>Slet information</h3>
        <p>
            Er denne information ikke brug længere? Dette kan være hvis patienten har skiftet telefonnummer eller email..
        </p>
        
        @using (Html.BeginForm("Delete", "ContactInformation", new { PatientId = Model.Patient.Id, Id = Model.ContactInformationId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <button class="btn btn-danger" type="submit">Slet</button>
        }
    </div>
    <div class="col-md-4">
        @{
            Html.RenderAction("ContactInformations", "ContactInformation", new { PatientId = Model.Patient.Id });
        }
    </div>
</div>