﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactInformationViewModel

@{
    ViewBag.Title = "ContactInformations";

    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}
<h1 class="page-header">Kontaktinformationer</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            Tilføj en kontaktinformation til @Model.Patient.Firstname, så dine kollegaer har mulighed for at se hvordan man nemmest kommer i kontakt med @Model.Patient.Firstname.
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @{
                    Html.RenderPartial("ContactInformationForm", Model);
                }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Tilføj" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @{
            Html.RenderAction("ContactInformations", "ContactInformation", new { PatientId = Model.Patient.Id });
        }
    </div>
</div>