﻿@{
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-header">Min profil</li>
                <li class="list-group-item"><a href="#">Tidslinje</a></li>
                <li class="list-group-item"><a href="@Url.GetMyPatientsUrl()">Mine patienter</a></li>
                <li class="list-group-item"><a href="@Url.GetMyContactInformationsUrl()">Informationer</a></li>
                <li class="list-group-item"><a href="#">Beskeder</a></li>
                <li class="list-group-item"><a href="#">Opgaver</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>

    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}
