﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientContactPersonsViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.PageTitle = Model.Patient.GetDisplayName();
    Layout = "~/Areas/PatientModule/Views/Shared/_PatientLayout.cshtml";
}
<div class="row">
    <div class="col-md-7">
        @if (Model.ContactPersons.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Periode</th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var contactPerson in Model.ContactPersons)
                {
                    <tr>
                        <td>@contactPerson.Employee.GetDisplayName()</td>
                        <td>@contactPerson.TimeStarted.ToShortDateString()</td>
                        <td>
                            @if (contactPerson.IsEnded)
                            {
                                @contactPerson.TimeEnded.Value.ToShortDateString()
                            }
                            else
                            {
                                using (Html.BeginForm("Complete", "ContactPerson", new { PatientId = contactPerson.PatientId, RelationshipId = contactPerson.Id }))
                                {
                                    <button type="submit" class="btn btn-danger">Afslut periode</button>
                                }
                            }
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p class="text-center text-muted">
                @Model.Patient.GetDisplayName() har ikke haft nogen kontaktpersoner
            </p>
        }
    </div>
    <div class="col-md-5">
        @if (Model.EmployeesList.Any())
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3>Tilføj ny kontaktperson</h3>
                    <div class="form-group">
                        <label class="control-label col-md-2">Vælg ansat</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeesList, new { @class = "default-select2" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-md-12 col-md-offset-2">
                            <label>
                                @Html.CheckBoxFor(model => model.CompletePreviousContactPersons) Afslut igangværende kontaktpersoner
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tilføj" class="btn btn-success" />
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-muted text-center">Der er ingen ansatte som kan blive tilknyttet som kontaktperson til @Model.Patient.GetDisplayName()</p>
        }
    </div>
</div>
