﻿@model TimeSpan?

<select name="@Html.NameFor(x=> x)" class="default-select2" data-minimumresultsforsearch="-1">
    <option value="0">Skal ikke gentages</option>
    <option value="1">Hver dag</option>
    <option value="2">Hver anden dag</option>
    <option value="7">Hver uge</option>
    @for (var i = 3; i < 32; i++)
    {
        <option value="@i">Hver @i. dag</option>
    }
</select>