﻿@model DailyReport.Domain.Models.Core.Patient

<div class="checkbox">
    <label>
        <input type="checkbox" value="@Model.Id" name="@Html.NameFor(x=> x.Id)" /> @Model.Firstname @Model.Lastname - @Model.BirthDate.ToShortDateString()
    </label>
</div>
