﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientDescriptionIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_OrganizationLayout.cshtml";
}

<h1 class="page-header">Beskrivelse</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2">Tekst</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Opdater beskrivelse" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        @if (Model.Descriptions.Any())
        {
            foreach (var description in Model.Descriptions)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @description.Text
                        </p>
                    </div>
                    <div class="panel-footer">
                        Skrevet d. @description.TimeCreated.ToLongDateString(), af <a href="#">Oliver Lassen</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center text-muted">
                Der er ikke skrevet nogen beskrivelse omkring @Model.Patient.Firstname<br />
                Skriv en beskrivelse til venstre
            </p>
        }
    </div>
</div>
