﻿@model DailyReport.Presentation.Web.Areas.Administration.Models.OrganizationIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Oprettet</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Organizations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Edit", new { OrganizationId = item.Id, Area = "Administration" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
