﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.PatientBaseViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-header">@Model.Patient.GetDisplayName()</li>
            <li class="list-group-item @Html.GetActiveCssClass("Details")"><a href="@Url.GetPatientUrl(Model.Patient.Id)">Tidslinje</a></li>
            <li class="list-group-item @Html.GetActiveCssClass("Edit")"><a href="@Url.GetPatientEditUrl(Model.Patient.Id)">Informationer</a></li>
            <li class="list-group-item @Html.GetActiveCssClass("MedicationSchedules")"><a href="@Url.GetPatientMedicationSchedulesUrl( Model.Patient.Id)">Medicinering</a></li>
            <li class="list-group-item @Html.GetActiveCssClass("Logbook")"><a href="@Url.GetPatientLogbookUrl(Model.Patient.Id)">Logbog</a></li>
            <li class="list-group-item"><a href="@Url.GetPatientContactbookUrl(Model.Patient.Id)">Kontaktbog</a></li>
            <li class="list-group-item"><a href="@Url.GetPatientMedicationSchedulesUrl(Model.Patient.Id)">Handleplaner</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>

</div>

@section scripts{
    @RenderSection("scripts", required: false)
}
