﻿@model DailyReport.Presentation.Web.Areas.PatientModule.Models.ContactInformationFormViewModel

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.DropDownListFor(model => model.ContactInformationTypeId, Model.ContactInformationTypeList, new { @class = "default-select2" })
</div>

<div class="form-group">
    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
</div>

<button type="submit" class="btn btn-default">Tilføj</button>